body{
    margin: 0px;
    background-color: #737373;
}

main img{
    width: 100%;
}

.title{
    position: relative;
}

footer div{
    text-align: center;
}
.images img{
    margin: 4% 2%;
    border-radius: 50%;
    width: 25%;
    border:10px solid black;
}